<table
  datatable
  [dtOptions]="dtOptions"
  class="table table-striped"
  [dtTrigger]="dtTrigger"
>
  <thead>
    <tr>
      <th>#IdUser</th>
      <th>Titulo</th>
      <th class="text-center">Detalles</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of dtTrigger | async">
      <td>{{ todo.userId }}</td>
      <td>{{ todo.title }}</td>
      <td class="py-2 d-flex justify-content-center">
        <button [routerLink]="['details', todo.id]" class="btn btn-primary">
          Ver detalles
        </button>
      </td>
    </tr>
  </tbody>
</table>
